.img22 {

    width: 170px;
    height: 170px;

}
.img23 {

    width: 170px;
    height: 170px;

}

.img24 {

    width: 170px;
    height: 170px;

}
body {
    height: 1800px;
    background-image: url("https://scontent.fpbc2-4.fna.fbcdn.net/v/t39.30808-6/274709568_492434795779216_7923190584185286647_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=z6D9W3EfItgAX_MGljY&_nc_ht=scontent.fpbc2-4.fna&oh=00_AfDKw1wsYyOliehOjFVFltoqWI2WWk-aLhsVWhMB_5CQtw&oe=643AA689.jpg");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
    
  }

  .oblique {
    font-style: oblique;
  }


  body {
    color: #93aaa9;
  }
  h1 {
    color: hsl(227, 2%, 12%);
  }
  h1 {
    color: hsl(240, 61%, 29%);
  }
  
  /* para agregarlo a todos los encabezados has esto */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(197, 79%, 26%);
  }