div {
    font-family: verdana;
    font-size: 50px;
    color: white;
    text-shadow: 3px 0px 0px black, 0px 3px 0px black, -3px 0px 0px black, 0px -3px 0px black;
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

body {
    height: 1400px;
    background-color: rgba(235, 13, 124, 0.178);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}